{% extends 'base.html' %}
{% load static %}

{% block content %}
<header class="sub-headers">投稿一覧</header>
{% include "search.html" %}

{% for post in post_list %}
<div class="toko">
    <a class="detail-link" href="#">
    <h4>{{ post.name }}</h4>
    <p>{{ post.naiyou }}</p>
    </a>
</div>
{% endfor %}

{% include "pagination.html" %}

<div id="page_top"><a href="#"></a></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

{% endblock %}
    